{% extends 'store/base.html' %}

{% block title %}Busca por "{{ query }}"{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 py-8">
  <div class="flex flex-col md:flex-row justify-between items-center mb-6">
  <h1 class="text-2xl font-semibold mb-2 md:mb-0">Resultados para "{{ query }}"</h1>

  <form method="get" class="flex items-center space-x-2">
    <input type="hidden" name="q" value="{{ query }}">
    <label for="ordenar" class="text-sm text-gray-600">Ordenar por:</label>
    <select name="ordenar" id="ordenar" onchange="this.form.submit()" class="border border-gray-300 rounded px-2 py-1 text-sm">
      <option value="">-- Selecione --</option>
      <option value="menor_preco" {% if ordenar == 'menor_preco' %}selected{% endif %}>Menor preço</option>
      <option value="maior_preco" {% if ordenar == 'maior_preco' %}selected{% endif %}>Maior preço</option>
    </select>
  </form>
</div>


  {% if resultados %}
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
      {% for produto in resultados %}
        <div class="bg-white rounded-lg shadow border border-gray-200 p-4">
          {% if produto.imagem %}
            <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="w-full h-40 object-contain mb-2" />
          {% endif %}
          <h2 class="text-sm font-semibold text-gray-800 uppercase">{{ produto.nome }}</h2>
          <p class="text-sm text-gray-600 mb-1">R$ {{ produto.preco }}</p>

          {% if produto.ativo %}
            <a href="{% url 'produto_detail' produto.id %}" class="block bg-yellow-400 text-black font-bold py-2 mt-2 rounded hover:bg-yellow-500 text-center">Ver detalhes</a>
          {% else %}
            <p class="text-red-600 text-sm mt-2">Produto Indisponível</p>
            <button class="bg-gray-300 text-gray-700 font-bold py-2 rounded w-full mt-2" disabled>Indisponível</button>
          {% endif %}
        </div>

      {% endfor %}
    </div>
  {% else %}
    <p class="text-gray-500">Nenhum produto encontrado com esse termo.</p>
  {% endif %}
</div>
{% endblock %}
