{% extends 'store/base.html' %}

{% block title %}Pedido Realizado - Minha Loja{% endblock %}

{% block content %}
<h1>Pedido realizado com sucesso!</h1>
<p>Obrigado, {{ pedido.nome }}.</p>
<p>Seu pedido foi registrado. Total: R$ {{ pedido.total }}</p>
<p>Frete: R$ {{ frete }}</p>

<h4>Produtos:</h4>
<ul>
    {% for item in pedido.itens.all %}
        <li>{{ item.produto_nome }} - R$ {{ item.preco }} x {{ item.quantidade }}</li>
    {% endfor %}
</ul>

<a href="/" class="btn btn-primary mt-3">Voltar para a loja</a>
{% endblock %}
