{% extends 'store/base.html' %}
{% load static %}

{% block title %}Ofertas - Teles{% endblock %}

{% block content %}
<h1 class="text-2xl font-semibold text-gray-800 mb-4 mt-4">🔥 Produtos em Oferta</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-8">
  {% for produto in produtos %}
    <div class="bg-white rounded-xl shadow-md hover:shadow-xl transition duration-300 border border-gray-200 p-4 flex flex-col justify-between">
      
      {% if produto.em_oferta %}
        <div class="absolute top-2 left-2 bg-red-600 text-white text-xs font-bold px-2 py-1 rounded">
          OFERTA
        </div>
      {% endif %}

      {% if produto.imagem %}
        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="w-full h-48 object-contain mb-4" />
      {% else %}
        <img src="https://via.placeholder.com/300x200?text=Sem+Imagem" class="w-full h-48 object-contain mb-4" />
      {% endif %}

      <h2 class="text-sm font-semibold text-gray-800 leading-tight mb-1 line-clamp-2 uppercase">
        {{ produto.nome }}
      </h2>

      {% if produto.em_oferta %}
        <p class="text-sm text-gray-500 line-through">R$ {{ produto.preco_antigo }}</p>
        <p class="text-xl font-bold text-red-600">R$ {{ produto.preco_novo }}</p>
      {% else %}
        <p class="text-xl font-bold text-[#1F2A85]">R$ {{ produto.preco }}</p>
      {% endif %}

      <p class="text-sm text-gray-500 mb-4">Em até 1x R$ {{ produto.get_preco_display }} sem juros</p>

      <a href="{% url 'produto_detail' produto.id %}" class="block w-full bg-[#FFD400] hover:bg-yellow-300 text-black font-semibold py-2 rounded-md text-center transition">
        Ver detalhes
      </a>
    </div>
  {% empty %}
    <p>Nenhum produto em oferta no momento.</p>
  {% endfor %}
</div>
{% endblock %}
